<h1>Vendor: <%= @vendor.name %></h1>

<p>
  Number of employees: <%= @vendor.num_employees %>
</p>

<p>
  Market ID: <%= @vendor.market_id %>
</p>

<p><%= link_to "Edit vendor", edit_vendor_path(@vendor)%></p>

<p><%= link_to "Return to full vendor list", vendors_path %></p>

<p><h3><%= link_to "PRODUCTS", vendor_view_products_path(@vendor.id) %></h3></p>

<p><h3><%= link_to "SALES", vendor_sales_path(@vendor.id) %></h3></p>
