<h1>Vendor: <%= @vendor.name %></h1>

<p>
  Reference ID: <%= @vendor.ref_id %>
</p>

<p>
  Number of employees: <%= @vendor.num_employees %>
</p>

<p>
  Market ID: <%= @vendor.market_id %>
</p>

<p><%= link_to "Edit vendor", edit_vendor_path(@vendor)%></p>

<p><%= link_to "Return to full vendor list", vendors_path %></p>

<strong>
  <p>Add Products: </p>

<p>Add Sales: </p>
</strong>
