<h1>List of Products associated with <%= @vendor.name %>, Vendor ID: <%= @vendor.ref_id %></h1>

<p>
  <%= link_to "Return to Vendor", vendor_path %>
</p>

<% @products.each do |product| %>
<ul>
  <li>Name: <%= product.name %></li>
</ul>
<% end %>

<%= link_to "Create a new product", new_vendor_product_path(@vendor.ref_id) %>
