<h1>List of Vendors associated with <%= @market.name %>, Market ID: <%= @market.ref_id %></h1>

<p>
  <%= link_to "Return to Markets Overview", markets_path %>
</p>

<p>
  <%= link_to "Return to #{@market.name}", market_path %>
</p>
<% @vendors.each do |vendor| %>
<ul>
  <li>ID: <%= vendor.ref_id %> </li>
  <li>Name: <%= vendor.name %></li>
  <li>Number of Employees: <%= vendor.num_employees %></li>
  <%= link_to "Edit a Vendor", edit_vendor_path(vendor) %>
  || <%= link_to "Delete a Vendor", vendor_path(vendor), method: :delete, data: { confirm: "Are you sure you want to delete the vendor?" } %>
</ul>
<% end %>
