<h2>Market <%= @market.id %></h2>

<p>
  <%= link_to "Return to Markets Overview", view_all_markets_path %>
</p>

<ul>
  <!-- <li>ID: <%= @market.ref_id %> </li> -->
  <li>Name: <%= @market.name %></li>
  <li>Address: <%= @market.address %></li>
  <li>City: <%= @market.city %></li>
  <li>County: <%= @market.county %></li>
  <li>State: <%= @market.state %></li>
  <li>Zip: <%= @market.zip %></li>
</ul>

<table>
  <tr>
    <th>Vendors</th>
  </tr>
<% @vendors.each do |vendor| %>
<tr>
  <td><%= vendor.name %></td>
</tr>
<% end %>
</table>
