<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <%= link_to "Home", root_path %>
      <%= link_to "List of All Markets", view_all_markets_path %>
      <%= link_to "Market Main Page", markets_path %>
      <%= link_to "Vendor Main Page", vendors_path %>
    </nav>
  </header>

<%= yield %>

  <footer>Webpage by Kelly and Danielle</footer>

</body>
</html>
